<ion-header *ngIf="dynamicForm.title">
	<ion-toolbar>
		<ion-buttons left *ngIf="!dynamicForm?.home_disable">
			<button ion-button icon-only color="primary" (click)="onClickGoHome()">
				<ion-icon name="home"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{dynamicForm.title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<ion-list *ngFor="let it of dynamicForm.items">
					<!-- button action -->
					<ion-grid *ngIf="it.type == 'button'">
						<ion-row>
							<ion-col *ngFor="let myBtn of it.options" style="text-align: center;">
								<button class="button-item" ion-button round (click)="onClick(myBtn)">
									{{myBtn?.name}}
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>